a:link{
	font-family:Trebuchet MS;
	text-decoration:none;
	color:#000000;
}
a:visited {text-decoration:none;color:#000000;}
a:active {text-decoration:none;color:#000000;} 
a:hover {text-decoration:underline;color:#000000;} 

