/*#main-header {
	background: #333;
	color: white;
	height: 80px;
}	

#buscador {
	position: absolute;
	top: 50px; 
	left: 550px;
}*/
img.logo {
	position: absolute;
	left: 10px;
}
#derecha {
	float:right;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
	z-index: 1;	/*  Para traer al frente el encabezado */
}	
	#main-header a {
		color: white;
	}
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
				
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}
	#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
	#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
body {
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
 input.buscador {
  border: 1px solid #DBE1EB;
  font-size: 11px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  position: absolute;
  top: 50px;
  left: 600px;
  }
