body{ background: #000 url('../fondos/degradado.jpg') no-repeat top right fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
#centro { height:33%; width:98%; align:center;
text-align: left;}
#izquierda { height:80%; width:25%;
float:left;}
#debajo {
 position: absolute;
  top: 400px; 
  right: 70px;}
 img.poster {
  position: absolute;
  top: 140px; 
  left: 1000px;
}